In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Covid Data.csv")
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
df.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [4]:
df.shape

(1048575, 21)

In [5]:
df.isnull().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

In [6]:
df.tail()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [7]:
df['AGE'].unique()

array([ 65,  72,  55,  53,  68,  40,  64,  37,  25,  38,  24,  30,  48,
        23,  80,  61,  54,  59,  45,  26,  32,  49,  39,  27,  57,  20,
        56,  47,  50,  46,  43,  28,  33,  16,  62,  58,  36,  44,  66,
        52,  51,  35,  19,  90,  34,  22,  29,  14,  31,  42,  15,   1,
         0,  17,  41,   2,  10,  12,  13,   4,   7,   6,   8,  60,   5,
        63,  75,  81,  67,  18,  70,  88,  85,  92,  73,  74,  78,  76,
        82,  77,  86,  71,  95,  87,  83,  84,  79,  69,  89,   3,  97,
        93, 100,  91,  21, 103,  11,   9,  94,  96, 101, 107, 102,  98,
        99, 109, 119, 116, 105, 104, 111, 114, 120, 106, 108, 110, 118,
       117, 121, 115, 113])

In [9]:
df['SEX'].unique()

array([1, 2])

- 1 = Female
- 2 = Male

In [12]:
df['MEDICAL_UNIT'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

note: we dont want medical_unit for this project

In [11]:
df['PREGNANT'].unique()

array([ 2, 97, 98,  1])

- 2 = No (Patient is not pregnant)
- 1 = Yes (Patient is pregnant)
- 97 = Not applicable (Mostly males)
- 98 = Unknown / Not specified

In [13]:
df['PATIENT_TYPE'].unique()

array([1, 2])

patient type is also not useful

In [14]:
df['OTHER_DISEASE'].unique()

array([ 2,  1, 98])

not useful because unclear disease type

In [16]:
df['COPD'].unique()

array([ 2,  1, 98])


not useful because unclear disease type

In [20]:
df['INMSUPR'].unique()

array([ 2,  1, 98])

Not useful

In [19]:
df['HIPERTENSION'].unique()

array([ 1,  2, 98])

- High blood pressure
-  1 = yes
-  2 = no

In [21]:
df['OBESITY'].unique()

array([ 2,  1, 98])

- 1 = yes
- 2 = no

In [22]:
df['RENAL_CHRONIC'].unique()

array([ 2,  1, 98])

- 1 = yes
- 2 = no

In [23]:
df['TOBACCO'].unique()

array([ 2,  1, 98])

- 1 = yes
- 2 = no
- 98 = unknown

In [24]:
df['CLASIFFICATION_FINAL'].unique()

array([3, 5, 7, 6, 1, 2, 4])

COVID test result: 

- 1–3 → Confirmed COVID-19
- 4–7 → Negative or inconclusive

In [25]:
df['ICU'].unique()

array([97,  2,  1, 99])

Value	Meaning:
- 1 =	Yes – Patient was admitted to ICU
- 2	= No – Patient was not admitted to ICU
- 97 = Not applicable (patient was not hospitalized)
- 99 = Unknown / missing information

In [27]:
df['PNEUMONIA'].unique()

array([ 1,  2, 99])

- 1 = yes
- 2 = NO
- 99 = unknown

In [33]:
df["INTUBED"].unique()

array([97,  1,  2, 99])

Not useful

In [36]:
df["USMER"].unique()

array([2, 1])

In [29]:
df.duplicated().sum()

np.int64(812049)

In [30]:
df.shape

(1048575, 21)

In [31]:
df.drop_duplicates(inplace = True)

In [32]:
df.shape

(236526, 21)

In [38]:
notuseful = ["MEDICAL_UNIT","PATIENT_TYPE", "OTHER_DISEASE","COPD","INMSUPR","INTUBED","USMER"]

In [41]:
df = df.drop(columns = notuseful)

In [42]:
df.shape

(236526, 14)

In [43]:
df.columns

Index(['SEX', 'DATE_DIED', 'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES',
       'ASTHMA', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC',
       'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [58]:
df["DATE_DIED"]

0          03/05/2020
1          03/06/2020
2          09/06/2020
3          12/06/2020
4          21/06/2020
              ...
1048568    9999-99-99
1048569    9999-99-99
1048571    9999-99-99
1048572    9999-99-99
1048574    9999-99-99
Name: DATE_DIED, Length: 236526, dtype: object

In [68]:
count = (df["DATE_DIED"] == "9999-99-99").sum()
print(count)

160561

160561 this is the no of people not die

In [70]:
print("total no of people in the dataset:", len(df))

total no of people in the dataset: 236526

In [73]:
df.shape

(236526, 14)

In [74]:
print(df.shape[0])

236526